.main-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #ffd500; 
  background-image: url('/images/brushed-alum.png');
}

.main-header img {
  padding-top: 100px;
  width: 200px;
}

@media only screen and (min-width: 1024px) {
  .main-header {
    height: 420px;
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #ffd500; 
    background-image: url('/images/brushed-alum.png');
  }
  
}

