body {
  font-family: 'Source Sans 3', sans-serif;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
}

nav {
  height: 120px;
  width: 100%;
  background-color: #ffd500; 
  background-image: url('/images/brushed-alum.png');
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2.2em;
  line-height: 1;
  padding-left: 1.5em;
  transition: font-size 0.3s ease-in-out, padding-left 0.3s ease-in-out;

}

#second-span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  padding-right: 1.5em;
  transition: font-size 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

#second-span strong {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #ffd500;
    background-image: url('/images/brushed-alum.png');
  }
  nav span {
    font-size: 1.4em;
    padding-left: 2.4em;
  }
  #second-span {
    font-size: 0.77em;
    padding-right: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  #timeline {
    width: 50%;  
  }
  .pc-top {
    display:flex;
    padding-top: 200px;
    padding-left: 120px;
    padding-right: 20px;
    justify-content: space-between;

  }
  
}
