.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 95%;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  margin-left: 1em;
}

label {
  margin-bottom: 1em; 
}

textarea {
  border: none; 
  border-bottom: 2px solid black; 
  width: 100%; 
  background-color: #f4f1ec;
}

button {
  font-family: 'Bungee', sans-serif; 
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 100px;
}

.button-container {
  display: flex; 
  justify-content: space-between;

}

.counter {
  font-family: 'Bungee', sans-serif; 
  text-align: right; 
}

/* Code below is for the tweets section */

article.tweet header {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #f4f1ec;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

div.button-container {
  padding-top:0.5em;
}

.avatars {
  height: 70px;
  width: 70px;
  margin-right: 15px;
  margin-left:15px;
  order: 1;
}

.name {
  order: 2;
  margin-right: auto;
}

.handle {
  order: 3;
  margin-left: auto;
  margin-right: 15px;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.tweet {
  border: 4px solid #545149;
  margin-bottom: 20px;
}


.text {
  margin-left: 10px;
  margin-right: 15px;
  padding-bottom:50px;
  border-bottom: 4px solid #545149;
  padding-left: 20px;
  font-weight: bold;
}

.timestamp {
  padding-left: 20px;
  font-size: 0.7em;

}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.favicon {
  margin-right: 30px;
}

.favicon i {
  margin-right: 10px;
}

.favicon i.hovered {
  color: #ffd500; 
}

.error-message {
  display: none;
  border-radius: 2px;
  border: 4px solid rgba(227, 29, 29, 0.784);
  padding: 0.5em; 
  text-align: center; 
  margin-bottom: 1em; 
  color: rgb(227, 29, 29, 0.784);
  font-weight: bold;
}

.fa-regular.fa-hand {
  padding-right: 20px;
}
.fa-light.fa-palette {
  padding-right: 10px;
}