.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 95%;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  margin-left: 1em;
}

label {
  margin-bottom: 1em; 
}

textarea {
  border: none; 
  border-bottom: 2px solid black; 
  width: 100%; 
  background-color: #f4f1ec;
}

button {
  font-family: 'Bungee', sans-serif; 
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 100px;
}

button:hover {
  background-color:#1133a0;
}

button:active {
  background-color: #5976e1;
  transform: translateY(2px);
}


.button-container {
  display: flex; 
  justify-content: space-between;

}

.counter {
  font-family: 'Bungee', sans-serif; 
  text-align: right; 
}


